find-and-check-hosts
mkdocs<=1.6.1 # Prevent mkdocs 2.0 in the future
mkdocs-auto-tag-plugin
mkdocs-awesome-pages-plugin
mkdocs-badges
mkdocs-backlinks-section-plugin
mkdocs-encrypt-source-plugin
mkdocs-extract-listings-plugin
mkdocs-ezlinks-plugin
mkdocs-materialx
mkdocs-minify-plugin
mkdocs-pagetree-plugin
mkdocs-placeholder-plugin
mkdocs-remove-sections-plugin
mkdocs-spellcheck[all]
mkdocs-toggle-sidebar-plugin
mkdocs-vercel-pw-plugin
properdocs
