find-and-check-hosts
mkdocs-auto-tag-plugin
mkdocs-awesome-pages-plugin
mkdocs-badges
mkdocs-backlinks-section-plugin
mkdocs-encrypt-source-plugin
mkdocs-extract-listings-plugin
mkdocs-ezlinks-plugin
mkdocs-material
mkdocs-minify-plugin
mkdocs-pagetree-plugin
mkdocs-placeholder-plugin
mkdocs-remove-sections-plugin
mkdocs-spellcheck[all]
mkdocs-toggle-sidebar-plugin
mkdocs-vercel-pw-plugin
mkdocs>=1.4.0
