beautifulsoup4 # for backlinks via hooks
find-and-check-hosts
lxml # for backlinks via hooks
mkdocs-auto-tag-plugin
mkdocs-awesome-pages-plugin
mkdocs-badges
mkdocs-encrypt-source-plugin
mkdocs-extract-listings-plugin
mkdocs-ezlinks-plugin
mkdocs-material
mkdocs-minify-plugin
mkdocs-pagetree-plugin
mkdocs-placeholder-plugin
mkdocs-remove-sections-plugin
# mkdocs-spellcheck[all]
mkdocs-toggle-sidebar-plugin
mkdocs-vercel-pw-plugin
mkdocs>=1.4.0

# The following packages require a compiler (which requires hundreds of MB):
# - editdistpy, required by symspell, required by mkdocs-spellcheck[all]
